<!-- Section: Index -->
<section>

  <div class="container index">

    <h1>A better scraping experience.</h1>
    Yup, that's it right there. That big button below's just beggin' you to press it.<br><br>

    <form action="/" method="post" class="form-inline">
      <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" name="date">
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-people">
          <input type='text' value="4" class="form-control" name="people">
          <span class="input-group-addon">people</span>
        </div>
      </div>

      <div class="input-group">
        <button type="submit" class="btn btn-primary btn-scrape">
          <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
          </div>
          <div class="btn-text">SCRAPE</div>
        </button>
      </div>
    </form>

  </div>

</section>
