<!doctype html>
<html>

<head>

  <!-- Title and Fav Icon -->
  <title>Lookbook Scraper</title>
  <link rel="shortcut icon" href="https://s3.amazonaws.com/reserve.com/favicon.ico" type="image/x-icon">

  <!-- Bootstrap, Fonts, and our Compiled SCSS > CSS File -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/reserve.com/homepage/reserve_home.css">
  <link rel="stylesheet" type="text/css" href="//rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7717712/766724/css/fonts.css">
  <link rel="stylesheet" href="stylesheets/master.css">

  <!-- Dependencies: jQuery, Bootstrap, Moment -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  <!-- Javascript Files -->
  <script src="javascript/master.js"></script>
</head>

<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Lookbook Scraper</a>
      </div>
    </div>
  </nav>

  <!-- Partials -->
  <% if (typeof looks == 'undefined') { %>
    <% include index.ejs %>
  <% } else {  %>
    <% include looks.ejs %>
  <% } %>


<!-- LiveReload -->
<script src="//localhost:35729/livereload.js"></script>
</body>

</html>
