//
// Index Page SCSS Module
// -----------------------------------

.index {
  .btn-scrape {
    min-width: 94px;
    margin-top: 15px;
  }

  .input-people {
    max-width: 150px;
  }

  #datetimepicker1 {
    max-width: 300px;
  }
}
