html, body {
  height: 100%;
  font-family: 'Gotham A', 'Gotham B', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

a {
  color: #AC9456; }

.flex {
  display: flex;
  justify-content: center; }

.svg-logo {
  height: 1em;
  fill: #fff; }

.container {
  max-width: 1054px; }

.btn {
  font-weight: 300;
  letter-spacing: 2px; }

.btn-primary {
  background-color: #AC9456;
  border: none; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #bdaa78; }

.form-group {
  margin-right: 10px; }

.bootstrap-datetimepicker-widget td.active {
  background-color: #AC9456; }
  .bootstrap-datetimepicker-widget td.active:hover, .bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:focus {
    background-color: #bdaa78; }

.spinner {
  display: none;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }

  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.index .btn-scrape {
  min-width: 94px;
  margin-top: 15px; }
.index .input-people {
  max-width: 150px; }
.index #datetimepicker1 {
  max-width: 300px; }

.restaurants .table-restaurants {
  font-size: 12px; }
